@import '../../../breakpoints.scss';
.shoes-page {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   background-color: var(--secondary-background-color);

   &__main {
      padding: 20px;
      max-width: 1200px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-content: center;
      width: 100%;
   }
   &__info-container {
      width: 100%;
   }
   &__img-container {
      width: 100%;

      & img {
         width: 100%;
         min-width: 250px;
         min-height: 250px;
         object-fit: contain;
         cursor: pointer;
         -webkit-user-drag: none;
         user-select: none;
         -moz-user-select: none;
         -webkit-user-select: none;
         -ms-user-select: none;
         transition: opacity 0.5s;
      }
   }

   &__carousel-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
   }
   &__carousel-options {
      display: none;
   }

   &__carousel-option-container {
      width: 75px;
      height: 75px;
      cursor: pointer;

      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      &:hover {
         border: 1px solid var(--main-text-color);
      }
   }
   &__model-name {
      margin: 10px 0 5px 0;
   }
   &__model-id {
      margin: 2px 0;
   }
   &__model-price {
      margin: 20px 0;
   }
   &__model-size {
      font-size: 12px;
   }
   &__sizes-buttons {
      margin: 10px 0 20px 0;
      & button {
         margin-right: 5px;
      }
   }

   &__buy-container {
      margin: 15px 0;
      display: flex;
      align-items: center;
   }

   &__buy-button {
      width: 100%;
      height: 48px;
   }

   &__buy-counter {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 5px;
   }

   &__buy-number {
      padding: 5px;
      border-radius: 50%;
      background-color: var(--horizontal-line-color);
      & p {
         display: flex;
         align-self: center;
         justify-content: center;
         font-size: 12px;
         width: 15px;
         height: 15px;
      }
   }

   &__characteristics-container {
      margin: 10px 0;
      padding: 0px 20px 0px;
      max-width: 1200px;
      width: 100%;
      & h3 {
         font-size: 15px;
         font-weight: 900;
         margin-bottom: 10px;
      }
      & p {
         font-size: 14px;
         font-weight: 400;
      }
   }

   &__carousel-dot {
      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 12px;
      cursor: pointer;
      background: #ccc;
      border-radius: 30px;
      transition: 0.5s;
      position: relative;
   }
   &__carousel-dots-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      height: 10px;
   }

   &__carousel-dot-active {
      width: 9px;
      height: 9px;
      background: #333333;
      display: block;
      transition: 0.5s;
      cursor: pointer;
   }
}

@media #{$tablet-middle} {
   .shoes-page {
      &__main {
         display: grid;
         grid-template-columns: 1.5fr 1fr;
         justify-content: center;
         width: 100%;
      }
      &__img-container {
         margin-right: 20px;
         max-width: 550px;
         max-height: 550px;
         width: 100%;
         & img {
            min-width: 340px;
            min-height: 340px;
         }
      }
      &__carousel-container {
         display: flex;
         flex-direction: row;

         max-height: 550px;
         width: 100%;
         height: 100%;
      }

      &__carousel-options {
         display: flex;
         flex-direction: column;
         width: 75px;
      }
      &__carousel-dots-container {
         display: none;
      }
   }
}

@media #{$tablet-large} {
   .shoes-page {
      &__img-container {
         & img {
            min-width: 476px;
            min-height: 476px;
         }
      }
   }
}

@media #{$desktop-small} {
   .shoes-page {
      &__img-container {
         & img {
            min-width: 550px;
            min-height: 550px;
         }
      }
   }
}
