.shoes-page {
   &__main {
      display: flex;
      justify-content: center;
   }

   &__img-container {
      margin-right: 20px;
      max-width: 630px;
      max-height: 630px;
      width: 100%;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__model-name {
      margin: 10px 0 5px 0;
      font-size: 20px;
      font-weight: 600;
   }
   &__model-id {
      margin: 2px 0;
      font-size: 12px;
   }
   &__model-price {
      margin: 20px 0;
      font-size: 19px;
   }
   &__model-size {
      font-size: 12px;
   }
   &__sizes-buttons {
      margin: 10px 0 20px 0;
      & button {
         margin-right: 5px;
      }
   }

   &__buy-container {
      margin: 15px 0;
      display: flex;
      align-items: center;
   }

   &__buy-button {
      max-width: 450px;
      width: 100%;
      margin-bottom: 8px;
   }

   &__buy-counter {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 5px;
   }

   &__buy-number {
      padding: 5px;
      border-radius: 50%;
      background-color: lightgray;
      & p {
         display: flex;
         align-self: center;
         justify-content: center;
         width: 15px;
         height: 15px;
      }
   }
}
