@import '../../../../breakpoints.scss';
.skeleton-item {
   width: 100%;
   min-height: 270px;
   max-height: 270px;
   padding: 10px;
   background-color: var(--secondary-background-color);
   border: 1px solid var(--horizontal-line-color);
   display: flex;
   flex-direction: column;
   gap: 8px;
   cursor: pointer;
}
.skeleton-item__image-container {
   width: 100%;
   display: flex;
   justify-content: center;
   position: relative;
}
.skeleton-item__image {
   width: 100%;
   aspect-ratio: 1 / 1;
   background-color: #e0e0e0;
   animation: pulse 1.5s infinite ease-in-out;
   min-width: 120px;
   min-height: 120px;
   max-width: 250px;
   max-height: 250px;
   border-radius: 4px;
}

.skeleton-item__info {
   display: grid;
   row-gap: 10px;
   padding-top: 20px;
}

.skeleton-item__text {
   width: 60%;
   height: 20px;
   background-color: #e0e0e0;
   animation: pulse 1.5s infinite ease-in-out;
   border-radius: 4px;
}

.skeleton-item__price-container {
   display: flex;
   align-items: center;
   gap: 5px;
}

.skeleton-item__price {
   width: 50px;
   height: 20px;
   background-color: #e0e0e0;
   animation: pulse 1.5s infinite ease-in-out;
   border-radius: 4px;
}

@keyframes pulse {
   0% {
      opacity: 1;
   }
   50% {
      opacity: 0.5;
   }
   100% {
      opacity: 1;
   }
}

@media #{$mobile-large} {
   .skeleton-item {
      min-height: 270px;
      max-height: 370px;
   }
}
