@import '../../../../breakpoints.scss';
.basket-item {
   &__container {
      display: grid;
      grid-template-columns: 100px auto auto auto auto;
      grid-template-rows: 100px 30px;
      & div img {
         width: 100px;
         height: 100px;
         object-fit: cover;
      }

      & div,
      p {
         align-self: center;
      }
   }

   &__info-container {
      padding-left: 10px;
   }

   &__buy-counter {
      width: 35px;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }

   &__buy-number {
      margin-left: 4px;
      padding: 7px 8px;
      border-radius: 50%;
      background-color: var(--horizontal-line-color);
      & p {
         display: flex;
         align-self: center;
         justify-content: center;
         font-size: 12px;
      }
   }
   &__size-text {
      color: var(--secondary-text-color);
      margin-top: 5px;
   }
   &__trash-button-container {
      display: flex;
      justify-content: center;
   }

   &__img-container {
      cursor: pointer;
   }
   &__main-info {
      cursor: pointer;
   }
}

@media #{$tablet-middle} {
   .basket-item {
      &__container {
         display: grid;
         grid-template-columns:
            100px minmax(100px, 340px) minmax(50px, 200px)
            minmax(50px, 150px) minmax(50px, 200px) minmax(100px, 200px);
         grid-template-rows: 100px;
      }
   }
}
