@import '../../../../breakpoints.scss';

.characteristics {
   &__description-container {
      background-color: #f2f2f2;
      margin-bottom: 10px;
      width: 100%;
   }
   &__description-title-mobile {
      padding: 5px 0 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      & h3 {
         margin: 0;
      }
   }

   &__description {
      margin-top: 10px;
   }
}

@media #{$tablet-middle} {
   .characteristics {
      &__description-title-mobile-container {
         display: none;
      }
   }
}
