.checkout-success {
   &__container {
      align-self: center;

      & h4 {
         font-weight: 700;
         font-size: 14px;
         margin-bottom: 5px;
      }

      & p {
         margin-bottom: 3px;
         font-size: 14px;
      }
   }
}
