@import '../../breakpoints.scss';
.auth {
   display: flex;
   flex-direction: column;
   width: 100vw;
   min-height: calc(100% - 61px);
   align-items: center;
   justify-content: center;
   background-color: var(--secondary-background-color);
   &__container {
      background-color: var(--secondary-background-color);

      width: 100%;
      height: fit-content;
      padding: 15px 20px 40px 20px;
      display: flex;
      flex-direction: column;
   }

   &__form {
      display: flex;
      flex-direction: column;

      & input {
         margin-bottom: 15px;
      }
   }

   &__header {
      align-self: center;
      margin: 15px 0 25px;
   }

   &__error {
      text-align: center;
      margin-bottom: 15px;
      color: var(--error-text-color);
      font-size: 12px;
      font-weight: 400;
   }
   &__message {
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 15px;
      text-align: center;
   }
   &__switch-btn {
      align-self: center;
   }
}

@media #{$tablet-small} {
   .auth {
      &__container {
         background-color: var(--main-background-color);
         max-width: 500px;
         border: 1px solid var(--horizontal-line-color);
         border-radius: 5px;
      }
   }
}
