@import '../../../../breakpoints.scss';
.checkout-item {
   &__img-container img {
      width: 80px;
      height: 80px;
      object-fit: cover;
   }

   &__info-shoes-container {
      display: grid;
      grid-template-columns: minmax(100px, auto);
   }
   &__container {
      display: grid;
      border-left: 1px solid var(--horizontal-line-color);
      border-right: 1px solid var(--horizontal-line-color);
      border-bottom: 1px solid var(--horizontal-line-color);
      grid-template-columns:
         minmax(100px, 500px) minmax(50px, 300px)
         minmax(50px, 200px) minmax(50px, 200px);
      grid-template-rows: auto;

      & div {
         padding-left: 5px;
         align-self: center;
      }
   }

   &__buy-counter {
      display: flex;
      flex-direction: column-reverse;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }

   &__buy-number {
      margin-left: 1px;
      padding: 5px;
      border-radius: 50%;
      background-color: var(--horizontal-line-color);
      & p {
         font-size: 12px;
         display: flex;
         align-self: center;
         justify-content: center;
         width: 15px;
         height: 15px;
      }
   }
   &__size-text {
      color: var(--secondary-text-color);
      margin-top: 5px;
   }
   &__trash-button-container {
      display: flex;
      justify-content: center;
   }

   &__img-container {
      cursor: pointer;
   }
   &__main-info {
      cursor: pointer;
   }
}
@media #{$tablet-small} {
   .checkout-item {
      &__buy-counter {
         flex-direction: row;
      }
   }
}
@media #{$tablet-middle} {
   .checkout-item {
      &__info-shoes-container {
         display: grid;
         grid-template-columns: 100px minmax(200px, 400px);
      }
      &__container {
         grid-template-columns:
            minmax(300px, 500px) minmax(200px, 300px)
            minmax(50px, 200px) minmax(50px, 200px);
         grid-template-rows: 100px;
      }
   }
}
