@import '../../../breakpoints.scss';
.shop {
   padding: 15px;
   max-width: 1200px;
   width: 100%;
   &__container {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: var(--secondary-background-color);
   }
   &__add-button {
      min-width: 70px;
      max-width: 130px;
   }
   &__top {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      width: 220px;
      height: 40px;
      margin-bottom: 5px;
   }
   &__main-container {
      display: grid;
      height: fit-content;
      width: 100%;
   }

   &__aside-filters {
      display: none;
   }
   &__shoes-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      background-color: var(--pagination-btn-active-background-color);
   }
   &__top-filters {
      display: flex;
      align-items: center;
      margin-right: 3px;

      &__select {
         background-color: var(--secondary-background-color);
         cursor: pointer;
      }

      &__title {
         margin-right: 10px;
         color: var(--secondary-text-color);
      }
   }
   &__right-side {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
   }

   &__mobile-filter-button-container {
      position: fixed;
      width: 90px;
      transform: rotate(-90deg) translate(-40%, 50%);
      top: 40%;
      left: -55px;
      z-index: 2;
      & svg {
         font-size: 16px;
      }
   }
}

@media #{$tablet-small} {
   .shop {
      &__top {
         flex-direction: row;
         width: 100%;
      }
   }
}
@media #{$tablet-middle} {
   .shop {
      padding: 25px;
      &__main-container {
         grid-template-columns: minmax(180px, 235px) 1fr;
      }
      &__aside-filters {
         display: block;
         padding: 20px 20px;
         width: 100%;
         border: 1px solid var(--horizontal-line-color);
      }

      &__right-side {
         width: 100%;
      }
      &__mobile-filter-button-container {
         display: none;
      }
   }
}

@media #{$tablet-large} {
   .shop {
      &__shoes-list {
         grid-template-columns: 1fr 1fr 1fr;
      }
   }
}

@media #{$desktop-small} {
   .shop {
      &__shoes-list {
         grid-template-columns: 1fr 1fr 1fr 1fr;
      }
   }
}
