@import '../../../breakpoints.scss';
.contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   background-color: var(--secondary-background-color);
   &__container {
      padding: 20px;
      max-width: 1200px;
      width: 100%;
      display: flex;
      flex-direction: column;
   }
   &__info-container {
      margin-bottom: 30px;
      & h2 {
         margin-bottom: 30px;
      }
   }
   &__social-media-container {
      padding-bottom: 10px;
      font-size: 14px;
      & span {
         font-weight: 600;
      }
      & a {
         color: #000000;
         text-decoration: none;
         outline: none;
      }
   }
}

@media #{$tablet-middle} {
   .contact {
      &__container {
         flex-direction: row;
         margin-top: 20px;
      }
      &__info-container {
         width: 50%;
         margin-right: 20px;
      }
      &__map-container {
         width: 50%;
      }
   }
}
