.admin {
   &__main {
      padding: 15px;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      align-items: center;
   }

   &__manage-shoes-container {
      height: fit-content;
   }

   &__manage-shoes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-width: 300px;
   }
   &__manage-user {
      &__container {
         margin-top: 20px;
         display: grid;
         grid-template-columns: 1fr 1fr;
         column-gap: 20px;
      }
      &__admins-info {
         padding: 10px;
         border-radius: 5px;
         border: 1px solid grey;
      }
      &__header {
         font-size: 1.5em;
         font-weight: 600;
         padding: 5px;
         border-bottom: 1px solid grey;
      }
   }
   &__panel {
      min-width: 150px;
      max-width: 300px;
      border: 1.5px solid #ced4da;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
   }

   &__panel-title {
      font-size: 18px;
      font-weight: 500;
   }

   &__header-container {
      width: 100%;
      display: flex;

      flex-direction: column;
      & h2 {
         align-self: center;
         font-size: 1.5em;
         font-weight: 600;
      }
   }
}
