.admin {
   &__main {
      padding: 15px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
   }

   &__container {
      display: flex;
      min-width: 300px;
   }

   &__panel {
      width: 100%;
      border: 1.5px solid #ced4da;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
   }

   &__panel-title {
      font-size: 18px;
      font-weight: 500;
   }
}
