.modal-input {
   &__container {
      width: 95%;
      max-width: 500px;
   }
   &__label {
      width: fit-content;
      position: relative;
      font-size: 14px;
      top: 10px;
      left: 10px;
      background-color: var(--main-background-color);
   }
}
