.checkbox-list {
   &__item {
      display: flex;
      align-items: center;
      padding: 2px 0;
      & input {
         margin-right: 10px;
      }
      & span {
         margin-top: 2px;
      }
   }
}
