@import '../../../breakpoints.scss';

.checkout {
   display: flex;
   padding: 20px;
   width: 100vw;
   background-color: var(--secondary-background-color);

   justify-content: center;

   &__names-columns-photo {
      display: none;
   }
   &__main {
      display: flex;
      flex-direction: column;

      max-width: 1200px;
   }
   &__page-header {
      margin-bottom: 25px;
      margin-top: 15px;
   }
   &__names-columns-container {
      width: 100%;
      display: grid;
      border: 1px solid var(--horizontal-line-color);
      grid-template-columns:
         minmax(100px, 500px) minmax(50px, 300px)
         minmax(50px, 200px) minmax(50px, 200px);

      & div {
         font-size: 12px;
         font-weight: 400;
         padding: 8px;
      }
   }
   &__empty-text {
      align-self: center;
      justify-self: center;
      font-size: 36px;
      color: var(--horizontal-line-color);
      margin-top: 100px;
   }

   &__info {
      padding: 8px 5px;
      display: grid;
      grid-template-columns: auto minmax(50px, 150px);
      justify-content: end;
      border-left: 1px solid var(--horizontal-line-color);
      border-right: 1px solid var(--horizontal-line-color);
      border-bottom: 1px solid var(--horizontal-line-color);
      &__header {
         font-size: 12px;
         font-weight: 700;
      }
      &__text {
         font-size: 12px;
         font-weight: 400;
         padding-left: 10px;
      }
   }

   &__order-info {
      display: grid;
      margin-top: 10px;

      grid-template-columns: 1fr;
   }
   &__loader {
      height: 90vh;
      width: 100%;
   }
}

@media #{$tablet-middle} {
   .checkout {
      &__names-columns-photo {
         display: block;
      }
      &__names-columns-container {
         grid-template-columns:
            100px minmax(200px, 400px) minmax(200px, 300px)
            minmax(50px, 200px) minmax(50px, 200px);
      }
      &__loader {
         height: 100%;
         width: 100%;
      }
   }
}
@media #{$tablet-large} {
   .checkout {
      &__order-info {
         grid-template-columns: 1fr 1fr;
      }
   }
}
