.button {
   margin-top: 8px;
   width: 100%;
   text-decoration: none;
   -webkit-tap-highlight-color: transparent;
   align-items: center;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   display: inline-flex;
   justify-content: center;
   outline: none;
   position: relative;
   text-align: center;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   white-space: nowrap;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: transparent;
   border: 1px solid transparent;
   font-size: 16px;
   padding: 2px;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

   & span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

   &__icon {
      margin-left: 5px;
   }

   &--delete {
      color: #b60505;
      border-color: #b60505;

      &:hover {
         color: #fff;
         background-color: #b60505;
         border-color: #b60505;
      }
   }

   &--primary {
      color: #198754;
      border-color: #198754;

      &:hover {
         color: #fff;
         background-color: #198754;
         border-color: #198754;
      }
   }

   &--secondary {
      color: #ff5500;
      border-color: #ff5500;
      &:hover {
         color: #fff;
         background-color: #ff5500;
         border-color: #ff5500;
      }
   }
   &--disable {
      color: lightgray;
      border-color: lightgray;

      &:hover {
         color: #fff;
         background-color: lightgray;
         border-color: lightgray;
      }
   }

   &--profile {
      color: #fff;
      border-color: #0000ff;
      background-color: #0000ff;

      &:hover {
         border-color: #0303d8;
         background-color: #0303d8;
      }
   }

   &--pagination {
      color: rgb(34, 33, 33);
      background-color: transparent;
      border-color: transparent;
      border-radius: 50%;
      height: 25px;
      width: 25px;

      &:hover {
         border-color: rgb(34, 33, 33);
      }
   }

   &--active-pagination {
      color: #fff;
      background-color: gray;
      border-color: gray;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      &:hover {
         background-color: rgb(34, 33, 33);
      }
   }

   &--size {
      color: #212529;
      background-color: transparent;
      border-color: gray;
      height: 40px;
      width: 80px;
      &:hover {
         background-color: lightblue;
      }
   }

   &--active-size {
      color: #212529;
      border-color: gray;
      height: 40px;
      width: 80px;
      background-color: lightblue;
   }
}

.admin-modal-accept-btn {
   width: 65%;
}
