@import '../../../../../../breakpoints.scss';

.delete-shoes-modal {
   &__container {
      overflow: auto;
   }
   &__main {
      margin: 20px 0 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
   }
   &__search {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
   }

   &__shoes-view-img-container {
      display: flex;
      width: 100%;
      height: 200px;

      & img {
         height: 100%;
      }
   }

   &__shoes-view {
      margin: 10px 0;
   }
   &___shoes-view-img-container {
      margin: auto;
      width: 50%;
   }

   &___shoes-view-info-container {
      & p {
         margin: 10px;
         font-size: 14px;
      }
   }
}

@media #{$tablet-small} {
   .delete-shoes-modal {
      &__container {
         & .horizontal-line {
            display: none;
         }
      }
   }
}
