.nav-item {
   padding: 10px;
   font-size: 14px;
   border-radius: 20px;
   cursor: pointer;
   text-align: center;
   border: 1px solid var(--nav-btn-border-color);

   &:hover {
      border: 1px solid var(--nav-btn-border-hover-color);
   }
}
