.nav-item {
   padding: 10px;
   font-size: 14px;
   cursor: pointer;

   &__desktop-nav-item {
      border-radius: 20px;
      text-align: center;
      border: 1px solid var(--nav-btn-border-color);

      &:hover {
         border: 1px solid var(--nav-btn-border-hover-color);
      }
   }

   &__burger-nav-item {
      width: 100%;
      border-bottom: 1px solid var(--horizontal-line-color);
      padding: 12px;
   }
}
