@import '../../../breakpoints.scss';

.modal-alert {
   &__container {
      position: fixed;
      left: 0;
      top: 20px;
      right: 0;
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: center;
   }

   &__content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 6px;
      height: 80%;
      width: 80%;
      padding: 10px;

      & h3 {
         margin: 0;
      }
   }

   &--success {
      border: 1px solid #0f5132;
      background-color: #d1e7dd;
   }

   &--danger {
      border: 1px solid #981006;
      background-color: #f18e7a;
   }
}

@media #{$tablet-middle} {
   .modal-alert {
      &__content {
         width: 45%;
      }
   }
}
