@import '../../../../breakpoints.scss';
.main {
   display: grid;
   width: 100%;
   height: 100%;
   grid-template-rows: 60px 1fr minmax(auto, 571px);
}

@media #{$tablet-middle} {
   .main {
      grid-template-rows: 60px 1fr 269px;
   }
}
