.header {
   display: flex;
   justify-content: space-between;
   width: 100vw;
   height: 60px;
   align-items: center;
   border-bottom: 1px solid var(--horizontal-line-color);
   padding: 10px 20px;
}

nav {
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-menu {
   display: flex;

   &__basket {
      height: 18px;
      & span {
         cursor: pointer;
         background-color: var(--icon-background-color);
         width: 20px;
         height: 20px;
         padding: 0px 1px;
         border: 1px solid var(--icon-background-color);
         border-radius: 50px;
         position: relative;
         left: 28px;
         top: -30px;
      }
   }
}
