.header {
   display: flex;
   justify-content: space-between;
   width: 100vw;
   height: 60px;
   align-items: center;
   border-bottom: 1px solid gray;
   padding: 10px 20px;
   &__logo-container h1 {
      cursor: pointer;
      font-size: 33px;
      font-weight: 300;
      color: black;
      letter-spacing: -2px;
   }
}

nav {
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-menu {
   display: flex;
}
