.header {
   display: flex;
   justify-content: space-between;
   width: 100vw;
   height: 60px;
   align-items: center;
   border-bottom: 1px solid gray;
   padding: 10px 20px;
   &__logo-container h1 {
      cursor: pointer;
      font-size: 33px;
      font-weight: 300;
      color: black;
      letter-spacing: -2px;
   }
}

nav {
   display: flex;
   align-items: center;
   justify-content: center;
}

.icon-menu {
   display: flex;

   &__basket {
      height: 18px;
      & span {
         cursor: pointer;
         background-color: black;
         font-size: 10px;
         color: white;
         width: 20px;
         height: 20px;
         padding: 0px 1px;
         border: 1px solid black;
         border-radius: 50px;
         position: relative;
         left: 26px;
         top: -28px;
      }
   }
}
